{% extends "base.html" %}{% block content%}
<h2>All Tasks </h2>
{% if messages %}
<ul class="messages" style="background-color:#ccc">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<article>
    {% if no_tasks %}{% if user.is_superuser %}
    <h3>!No Task has been created yet</h3> {% else %}
    <h3>!No Task has been assgined to you yet</h3>{% endif%} {% endif %}
    <ul>{% for task in tasks%}
        <li>
            <h3>
                <a href="{% url 'task-view' task.pk %}">{{task.title}}</a>
            </h3>
            <p><b>{{task.assigned_to|title}}</b> , {{task.created_at}}</p>
        </li>{% endfor %}

    </ul>{% if user.is_superuser %}
    <a href="{% url 'task-create' %}" role="button" style="color: black; margin-top: 25px;">
        ✨ Create New Task
        </a>{% else %}
        <a href="{% url 'create-user-tasks' %}" role="button" style="color: black; margin-top: 25px;">
            ✨ Create New Task
            </a>
            {% endif%}
</article>

{% endblock content%}